<%= labelled_form_for reply, :url => replies_path, :html => {:id => 'reply-form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= submit_tag l(:button_create), :name => 'create_button' %>
  <% if Redmine::VERSION.to_s < '4.0' %>
    <%= preview_link preview_reply_path, 'reply-form' %> |
  <% end %>
  <%= link_to l(:button_cancel), my_account_path %>
<% end %>

<div id="preview" class="wiki"></div>
